---
import Layout from "../layouts/Layout.astro";
import illustration from "../assets/projects-illustration-bgRemoved.png";
import SpredditImg from "../assets/spreddit-thumb.png";
import ThreeterImg from "../assets/threeter-thumb.png";
import GroceryImg from "../assets/grocery-thumb.png";
import NewsImg from "../assets/news-thumb.png";
import WeatherImg from "../assets/weather-thumb.png";
import Card from "../components/Card.astro";
---

<Layout title="Rohit's Projects">
  <div class="min-h-full flex flex-col justify-center p-6">
    <div
      class="flex w-full items-center flex-col lg:flex-row lg:justify-evenly"
    >
      <div>
        <h2 class="text-5xl font-medium">
          A collection of my most recent and exciting projects.
        </h2>
        <h3 class="text-xl italic mt-4">
          While on my journey to learn the ins and outs of web development, I
          find the best way for me to understand how something works is to build
          something with it. Below this 'mostly unnecessary but needed to fill
          out the page because otherwise it looks weird' blurb, you will find
          some of my projects that I am proud of.
        </h3>
      </div>
      <div class="p-7">
        <img src={illustration} class="rounded-lg w-96 h-auto lg:w-full" />
      </div>
    </div>
    <div
      class="grid grid-flow-row md:grid-cols-2 md:gap-8 lg:grid-cols-4 gap-4 place-items-center"
    >
      <Card
        name="Spreddit"
        blurb="A fullstack clone of Reddit built on NextJs with TypeScript."
        tags={["NextJs", "TailwindCSS", "Prisma", "tRPC", "postgreSQL"]}
        gitLink="https://github.com/rtokala14/spreddit-t3"
        liveLink="https://spreddit-t3.vercel.app/"
        image={SpredditImg}
      />
      <Card
        name="Threeter"
        blurb="A fullstack clone of Twitter built on NextJs with TypeScript."
        tags={[
          "NextJs",
          "TailwindCSS",
          "Prisma",
          "tRPC",
          "NextAuth",
          "postgreSQL",
        ]}
        gitLink="https://github.com/rtokala14/threeter"
        liveLink="https://threeter.vercel.app/"
        image={ThreeterImg}
      />
      <Card
        name="Grocery List"
        blurb="A Grocery List tracker that syncs data with a mongoDB backend. "
        tags={["NextJs", "TailwindCSS", "Prisma", "tRPC", "mongoDB"]}
        gitLink="https://github.com/rtokala14/grocery-list"
        liveLink="https://grocery-list-vert.vercel.app/"
        image={GroceryImg}
      />
      <Card
        name="News Website"
        blurb="A webpage that sources news articles using the mediastack API."
        tags={["NextJs", "TailwindCSS", "graphQL", "StepZen"]}
        gitLink="https://github.com/rtokala14/news-app"
        liveLink="http://news-app-chi-sandy.vercel.app/"
        image={NewsImg}
      />
      <Card
        name="Weather App"
        blurb="A weather app that shows weather by location using data from the openweathermap API."
        tags={["TailwindCSS", "Vanilla JS"]}
        gitLink="https://github.com/rtokala14/weather-app"
        liveLink="https://weather-app-rtokala14.vercel.app/"
        image={WeatherImg}
      />
    </div>
  </div>
</Layout>
