---
export interface Props {
  name: string;
  blurb: string;
  gitLink: string;
  liveLink: string;
  tags: string[];
  image: string;
}

const { name, blurb, gitLink, liveLink, tags, image } = Astro.props;
---

<div
  class="w-80 shadow-md shadow-tertiary dark:shadow-Dtertiary gap-3 flex flex-col rounded-md"
>
  <img
    alt={`${name}'s project screenshot'`}
    src={image}
    class="object-cover rounded-t-md"
    width="320"
    height="160"
  />
  <div class="px-2 pb-2 flex flex-col gap-3">
    <h4 class="text-xl font-medium">{name}</h4>
    <p class="text-base font-light italic">{blurb}</p>
    <div class="grid grid-cols-3 gap-2 items-center">
      {
        tags.map((tag) => (
          <div class=" text-center p-1 px-2 rounded-sm text-sm border border-primary dark:border-Dtertiary">
            {tag}
          </div>
        ))
      }
    </div>
    <div class="w-full flex justify-between items-center">
      <a
        target="_blank"
        rel="noreferrer"
        href={gitLink}
        class="p-2 px-4 border border-tertiary bg-tertiary text-tint hover:bg-tint hover:text-primary dark:border-Dtertiary rounded-md"
        >Source Code</a
      >
      <a
        target="_blank"
        rel="noreferrer"
        href={liveLink}
        class="p-2 px-4 border border-tertiary bg-tertiary text-tint hover:bg-tint hover:text-primary dark:border-Dtertiary rounded-md"
        >Live Preview</a
      >
    </div>
  </div>
</div>
